body {
  font-size: 20px; /* 全体の文字を大きく */
}

button {
  font-size: 18px; /* ボタンの文字も大きく */
  padding: 12px 20px; /* ボタンの大きさUP */
}

.taken {
    background: #4caf50;
    color: #fff;
}

.not-taken {
    background: #f44336;
    color: #fff;
}

#customTimes button {
    display: block;
    margin: 5px auto;
}

#dateDisplay {
    font-size: 1.4rem;
    margin-bottom: 15px;
}
